#friends-body {
  background-image: url("https://github.com/hws522/Kokoa-clone/blob/master/img/chat-background.png?raw=true");
  background-repeat: no-repeat;
  background-size: 100vw 140vh;
}

#chats-body {
  background-image: url("https://github.com/hws522/Kokoa-clone/blob/master/img/chat-background.png?raw=true");
  background-repeat: no-repeat;
  background-size: 100vw 90vh;
}

#find-body {
  background-image: url("https://github.com/hws522/Kokoa-clone/blob/master/img/chat-background.png?raw=true");
  background-repeat: no-repeat;
  background-size: 100vw 122vh;
}

#more-body {
  background-image: url("https://github.com/hws522/Kokoa-clone/blob/master/img/chat-background.png?raw=true");
  background-repeat: no-repeat;
  background-size: 100vw 120vh;
}
